.epr_-4ueg5a {
    background-color: var(--popover) !important;
    border-color: var(--border) !important;
}
.epr_-99lr9q {
    background-color: var(--card) !important;
}
.epr_-8623pq {
    background-color: var(--card) !important;
    border-color: var(--border) !important;
}
.epr-btn:hover {
    background-color: var(--card) !important;
}